# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
# C extensions
*.so
# Distribution / packaging
.Python
build/
dist/
develop-eggs/
*.egg-info
.eggs/
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
# Editors
*.sublime-project
*.sublime-workspace
.vscode/
.idea/
*.swp
*~
# Mac
.DS_Store
# Logs
*.log
# MyPy
.mypy_cache/
# pytest
.pytest_cache/
# Notebooks
.ipynb_checkpoints
# coverage
.coverage
# Other files
# Extra instances, now stored in Drive due to their huge size (GitHub doesn't accept more than 100MB per file)
data/qdimacs20.tar.zst
data/qdimacs.tar.xz
data/klieber2017-qdimacs.zip
